<div class="container">
  <header>
    <h1>TASKLIST</h1>
  </header>

  <section class="center">
    <section class="task-options">
      <ul>
        <li>
          Add Task
        </li>
        <li>
          All Tasks
        </li>
      </ul>
    </section>
  </section>

  <section class="center">
    <section class="task-list">
      <h2>Your Tasks</h2>
      <ol>
        <% @tasks.each do |item| %>
          <li>
            <a href="/tasks/<%= item.id %>"><span class="bold"><%= item.name %></span></a>, complete by: <%= item.completion_date %>
            <ul>
              <li>
                Mark Complete
              </li>
              <li>
                Edit
              </li>
              <li>
                Delete
              </li>
            </ul>
          </li>
        <% end %>
      </ol>
    </section>
  </section>
</div>
